body {
  background: #e6e6e6;
  font-family: Roboto,sans-serif;
  transition: all 0.4s;
}
header {
  padding: 10px 10px 10px 30px;
  background: #43a07e;
}
header a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
header a:hover,
header a:active {
  color: #fff;
}
